
.container {
	padding: 1em;
}

.btn {
	border-radius: 7px;
	border: 1px solid navy;
	font-size: 2rem;
	padding: 10px;
}

.btn-container {
	display: inline-block;
	text-align: center;
	width: 100%;
	.btn-default {
	}
}