.symbol-item {
    text-align: center;
    border: transparent solid 2px;
    margin: 5px;
    box-shadow: 2px 2px 2px gray;

    &.selected {
        border-left-color: white;
        color: white;
        background-color: green;
        .exchange { color: white; }
        //svg.check { display: block; color: white; }
    }
}

svg.check { display: none; }

.exchange { color: gray; font-size: 1.5rem; }
.ticker { font-weight: bold; font-size: 1.5rem; }